1_1_1_2_1_jpg		JPEG	"img/1.1,1.2_1.jpg"
1_1_1_2_2_jpg		JPEG	"img/1.1,1.2_2.jpg"
1_1_1_2_3_jpg		JPEG	"img/1.1,1.2_3.jpg"
2_1_2_2_0_1v_jpg	JPEG	"img/2.1,2.2_0.1v.jpg"
2_1_2_2_0_2v_jpg	JPEG	"img/2.1,2.2_0.2v.jpg"
2_1_2_2_0_5v_jpg	JPEG	"img/2.1,2.2_0.5v.jpg"
2_1_2_2_1mv_jpg		JPEG	"img/2.1,2.2_1mv.jpg"
2_1_2_2_1v_jpg		JPEG	"img/2.1,2.2_1v.jpg"
2_1_2_2_2mv_jpg		JPEG	"img/2.1,2.2_2mv.jpg"
2_1_2_2_2v_jpg		JPEG	"img/2.1,2.2_2v.jpg"
2_1_2_2_5mv_jpg		JPEG	"img/2.1,2.2_5mv.jpg"
2_1_2_2_10mv_jpg	JPEG	"img/2.1,2.2_10mv.jpg"
2_1_2_2_20mv_jpg	JPEG	"img/2.1,2.2_20mv.jpg"
2_1_2_2_50mv_jpg	JPEG	"img/2.1,2.2_50mv.jpg"
2_1_2_2_xv_jpg		JPEG	"img/2.1,2.2_xv.jpg"
4_1_4_2_pressed_jpg	JPEG	"img/4_1,4_2_pressed.jpg"
4_1_4_2_unpressed_jpg	JPEG	"img/4_1,4_2_unpressed.jpg"
7_pressed_jpg		JPEG	"img/7_pressed.jpg"
7_unpressed_jpg		JPEG	"img/7_unpressed.jpg"
8_0_1ms_jpg		JPEG	"img/8_0.1ms.jpg"
8_0_1s_jpg		JPEG	"img/8_0.1s.jpg"
8_0_2ms_jpg		JPEG	"img/8_0.2ms.jpg"
8_0_2s_jpg		JPEG	"img/8_0.2s.jpg"
8_0_5mks_jpg		JPEG	"img/8_0.5mks.jpg"
8_0_5ms_jpg		JPEG	"img/8_0.5ms.jpg"
8_0_5s_jpg		JPEG	"img/8_0.5s.jpg"
8_1mks_jpg		JPEG	"img/8_1mks.jpg"
8_1ms_jpg		JPEG	"img/8_1ms.jpg"
8_1s_jpg		JPEG	"img/8_1s.jpg"
8_2mks_jpg		JPEG	"img/8_2mks.jpg"
8_2ms_jpg		JPEG	"img/8_2ms.jpg"
8_2s_jpg		JPEG	"img/8_2s.jpg"
8_5mks_jpg		JPEG	"img/8_5mks.jpg"
8_5ms_jpg		JPEG	"img/8_5ms.jpg"
8_5s_jpg		JPEG	"img/8_5s.jpg"
8_10mks_jpg		JPEG	"img/8_10mks.jpg"
8_10ms_jpg		JPEG	"img/8_10ms.jpg"
8_20mks_jpg		JPEG	"img/8_20mks.jpg"
8_20ms_jpg		JPEG	"img/8_20ms.jpg"
8_50mks_jpg		JPEG	"img/8_50mks.jpg"
8_50ms_jpg		JPEG	"img/8_50ms.jpg"
11_pressed_jpg		JPEG	"img/11_pressed.jpg"
11_unpressed_jpg	JPEG	"img/11_unpressed.jpg"
chan2_JPG		JPEG	"img/chan2.JPG"
chan2_wire_jpg		JPEG	"img/chan2_wire.jpg"
invert_btn_pressed_jpg	JPEG	"img/invert_btn_pressed.jpg"
invert_btn_unpressed_jpg	JPEG	"img/invert_btn_unpressed.jpg"
Labels1_jpg		JPEG	"img/Labels1.jpg"
Labels1_wire_jpg	JPEG	"img/Labels1_wire.jpg"
power_off_jpg		JPEG	"img/power_off.jpg"
power_on_jpg		JPEG	"img/power_on.jpg"
pressed_button_jpg	JPEG	"img/pressed_button.jpg"
unpressed_button_jpg	JPEG	"img/unpressed_button.jpg"
white_bmp 		BITMAP	"img/white.bmp"
white2_bmp		BITMAP	"img/white2.bmp"
AM_jpg			JPEG	"img/signals/AM.jpg"
FM_jpg			JPEG	"img/signals/FM.jpg"
IMP_jpg			JPEG	"img/signals/IMP.jpg"
P_IMP_jpg		JPEG	"img/signals/P_IMP.jpg"
2_IMP_jpg		JPEG	"img/signals/2_IMP.jpg"
PM_jpg			JPEG	"img/signals/PM.jpg"
sin_jpg			JPEG	"img/signals/sin.jpg"
helper_mht		HTML	"helper.mht"
signals_obf		HTML	"signals.obf"